prefix           = "eric-demo" # must contain only lowercase alphanumeric characters, numbers and hyphens, must start with a letter
location         = "centralus"
env              = "immersionday"
# youtube_video_id = "dQw4w9WgXcQ"